<%= render @datafirst %>

<!-- <div>
  <%= link_to "Edit", edit_datafirst_path(@datafirst), class:"btn btn-primary btn-lg" %>
  <%= link_to "Back", datafirsts_path , class:"btn btn-primary btn-lg"%>
</div> -->
